@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
     @apply bg-orange-50;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
   
    swiper-pagination-bullet2 {
        background-color: #919191;
        /* misal ungu */
        opacity: 0.7;
    }

    swiper-pagination-bullet-active2 {
        background-color: #2964f9;
        /* aktif lebih gelap */
        opacity: 1;
    }


    .swiper-pagination-bullet {
        background-color: #919191;
        /* misal  */
        opacity: 0.7;
    }

    .swiper-pagination-bullet-active {
        background-color: #e2a20c;
        /* aktif lebih gelap */
        opacity: 1;
    }

    font-inter {
        font-family: 'Inter', sans-serif;
    }

    font-source {
        font-family: 'Source Serif 4', serif;
    }

    @keyframes blob {

        0%,
        100% {
            transform: scale(1) translate(0, 0);
        }

        50% {
            transform: scale(1.05) translate(10px, -10px);
        }
    }

    animate-blob {
        animation: blob 15s infinite ease-in-out;
    }

    swiper {
        width: 100%;
        max-width: 100vw;
        /* Agar tidak overflow layar */
        overflow: hidden;
    }

    swiper-slide {
        width: auto;
        /* atau 100% tergantung desain */
        box-sizing: border-box;
    }